* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
     overflow-x: hidden !important;
}

nav {
    margin-top: 40px !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    width: 100%;
}
.non{
    color: gray;
    font-size: 30px;
    display: none;
}
.no {
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.color {
    background: #0D6EFD !important;
    color: #ffffff !important;
    font-size: 20px !important;
}

.color:hover {

    background-color: #ffffff !important;
    color: #0D6EFD !important;

}

.colors {
    background: #F7F7F7 !important;
    color: #0D6EFD !important;
    border: #F7F7F7 !important;
    font-size: 20px !important;
}

.colors:hover {
    background: #0D6EFD !important;
    color: #ffffff !important;
}

.padding {
    margin-top: 100px !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
}

.a {
    font-weight: 390 !important;
    font-size: 50px !important;
}

.aa {
    color: #9194A2 !important;
    font-size: 20px !important;
    font-weight: 500 !important;

}

section button {
    height: 55px !important;
    width: 40% !important;
    margin: 0 auto !important;
}

.hero {
    margin-left: 55px !important;

}

.bg-shape {
    position: absolute;
    right: -0px !important;
    margin-top: 90px !important;
    width: 948px !important;
    height: 350px !important;
    background: #243AB9 !important;
    border-radius: 300px 0 0 300px !important;
    z-index: -1 !important;
}

.gray {
    height: auto;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    flex-wrap: wrap;

}


.features {
      margin-bottom: 50px !important;
    flex-wrap: wrap;
    margin: 0 auto;
}

.features h3 {
    font-size: 35px;
    font-weight: 500;
    color: #242A24;
}

.features h4 {
    color: rgb(145 148 162);
    font-size: 50px;
    font-weight: 200;
}

.bg-shapes {
    position: absolute;
    left: -100px !important;
    width: 990px;
    height: 350px;
    border-radius: 0 300px 300px 0;
   background: #243AB9 !important;
    z-index: -1 !important;

}


.heross {
    margin-top: -90px !important;   
    margin-left: 500px !important;  
}

.close {
    margin-top: 150px;
}
.herosss{
margin-top: -60px;
margin-right: 130px;
}
.herossss {
    margin-top: -120px !important;  
    margin-left: 500px !important;  
}
.cards-row {
    display: flex;            
    align-items: flex-start;   
    position: relative;
    gap: 30px;                 
}

.card {
    width: 350px;
    height: 300px !important;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    justify-content: center;
       box-shadow: 0 5px 15px #F7F7F7;
         transition: all 0.3s ease;
}

.card1 {
    top: 0px; 
    z-index: 3;
}

.card2 {
    top: 30px;  
    z-index: 2;
}

.card3 {
    top: 60px;  
    z-index: 1;
}
.final{
    margin: 0 auto;
}
.flexs{
    display: flex;
    justify-content: space-evenly;
}
.card img{
    width: 80px;
    object-fit: cover;
    align-items: center;
}
.card:hover {
    transform: translateY(-10px);        
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);  
    background-color:#F7F7F7;          
}
.more{
    width: 100px !important;
     background: #0D6EFD !important;
    color: #ffffff !important;
 
}
.more:hover {

    background-color: #ffffff !important;
    color: #0D6EFD !important;

}
.footer{
  height: 350px;
    background: #5267DF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center !important;
}
.all{
    color: #ffffff;
    align-items: center;
    text-align: center!important;
}
.we{
    color: #ffffff;
}
.focus{
    width: 25%;
}
.black{
     width: 150px !important;
     background: #FA5959 !important;
    color: #ffffff !important;
 
}
.black:hover{
    background-color: #ffffff !important;
    color: black !important;
}
.footer-section {
    background:#242A45;
    padding: 20px 0;
}

.footer-logo {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer-link {
    color: #ffffffcc;
    font-weight: 500;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.icon {
    width: 24px;
    filter: brightness(0) invert(1);
    transition: 0.2s;
}

.icon:hover {
    opacity: 0.7;
}
input {
    transition: transform 0.4s ease;


}

input:hover {
    transform: scale(1.1);
}
img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.1);
}
/* bg-shape bg-shapes */
 
@media only screen and (max-width: 1669px) {
    .col-md-6 img {
        display: none;
        flex-wrap: wrap;
      
    }

}
@media only screen and (max-width: 1669px) {
    .bg-shape div {
        display: none;
        flex-wrap:wrap;
        background: white;
      
    }
.bg-shapes div{
    display: none;
    flex-wrap: wrap;
    background: white;
}
}
@media only screen and (max-width: 900px){
 .no{
    display: none;
}

.non{
    display: block;
    color: gray;
}
}